@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Header{
    <div class="header_background">
        <img src="" class="logo_img"/>
        <h1 class="logo_txt">BakeryStock</h1>

        <nav>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </div>
}

<div>
    <div class="main_background">
        <p>aaaaaaa Main</p>
    </div>
</div>

@section Footer{
    <div class="footer_background">

    </div>
}
