@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Header{
    <div class="header_background">
        <div class="container-logo">
            <img src="~/img/Logo_Temporaria.jpg" class="logo-img" />
            <h1 class="logo-txt">BakeryStock</h1>
        </div>

        <nav class="nave">
            <ul class="nave-list">
                <li class="nave-item"><a class="nave-link" asp-page="/login">Entrar</a></li>
                <li class="nave-item"><a class="nave-link" asp-page="/CreateAccount">Cadastre-se</a></li>
            </ul>
        </nav>
    </div>
}

<div class ="main_background">
    <div class="introducao">
        <h2 class="introducao-titulo">BakeryStock - O que somos</h2>
        <p class="introducao-txt">O sistema de gestão de estoque "Bakery Stock" foi desenvolvido especificamente para atender às necessidades das padarias modernas. Com uma interface amigável e intuitiva, o software simplifica a monitorização e o controlo do estoque, permitindo rastrear entradas, saídas e estabelecer alertas de reabastecimento.O Bakery Stock potencializa a eficiência operacional das padarias, contribuindo para a satisfação do cliente e o sucesso sustentável no mercado competitivo.</p>
    </div>
    <img src="~/img/Logo_Temporaria.jpg" class="introducao-img" />
</div>

@section Footer{
    <div class="footer_background">
        <p class="footer-txt">Copyright © - BakeryStock 2023 - <a class="footer-link" asp-page="/Privacy">Privacy</a> </p>
    </div>
}
