@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Header{
    <div class="header_background">
        <div class="display-flex">
            <img src="" class="logo-img" />
            <h1 class="logo-txt">BakeryStock</h1>
        </div>

        <nav class="nave">
            <ul class="nave-list">
                <li class="nave-item"><a class="nave-link">Entrar</a></li>
                <li class="nave-item"><a class="nave-link">Cadastre-se</a></li>
            </ul>
        </nav>
    </div>
}

<div>
    <div class="main_background">
        <p>aaaaaaa Main</p>
    </div>
</div>

@section Footer{
    <div class="footer_background">

    </div>
}
