@page
@model BakeryStock.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

@section Header{
    <div class="header_background">
        <div class="container-logo">
            <img src="~/img/Logo_Temporaria.jpg" class="logo-img" />
            <h1 class="logo-txt">BakeryStock</h1>
        </div>

        <nav class="nave">
            <ul class="nave-list">
                <li class="nave-item"><a class="nave-link" asp-page="/Index">Home</a></li>
                <li class="nave-item"><a class="nave-link" asp-page="/CreateAccount">Criar conta</a></li>
            </ul>
        </nav>
    </div>
}

<div class="main_background--login">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                            <input class="form-control" id="inputEmail" type="text" placeholder="Nome de usuario" />
                                            <label for="inputEmail">Nome de usuario</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputPassword" type="password" placeholder="Senha" />
                                            <label for="inputPassword">Senha</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password.html">Esqueceu sua senha?</a>
                                            <a class="btn btn-primary" asp-page="/index">Login</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                    <div class="small"><a asp-page="/CreateAccount">Ainda não tem uma conta? Crie agora!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
</div>

@section Footer{
    <div class="footer_background">
        <p class="footer-txt">Copyright © - BakeryStock 2023 - <a class="footer-link" asp-page="/Privacy">Privacy</a> </p>
    </div>
}
