@page
@model BakeryStock.Pages.TableModel
@{
    ViewData["Title"] = "Tabela";
    Layout = "_LayoutTable";
}

@section Header {
    <div class="tableSelection-header">
        <div class="header-user-info">
            <p class="user-info-txt">Nome do Usuario: <span class="user-info-span">Carlos</span></p>
            <p class="user-info-txt">Nivel de acesso: <span class="user-info-span">1 - Administrador</span></p>
        </div>
        <div class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item"><a class="header-nav-link" asp-page="/login">Fazer Login em outra conta</a></li>
                <li class="header-nav-item"><a class="header-nav-link" asp-page="/tableSelection">Voltar para Seleção</a></li>
            </ul>
        </div>
    </div>
}

<body class="sb-nav-fixed">
        <div id="layoutSidenav_content">
            <main class="table_background">
                <div class="container-fluid px-4">
                    <div class="row cards-space">
                        <div class="col-xl-3 col-md-6 cards-width">
                            <div class="card background-acabando text-white mb-4">
                            <div class="card-body"><h1 class="card-h1">Itens Acabando</h1></div>
                                <table class="card-table">
                                    <tr class="card-tr">
                                        <th class="card-th">ID</th>
                                        <th class="card-th">Nome</th>
                                        <th class="card-th">Quantidade</th>
                                    </tr>
                                    <tr class="card-tr">
                                        <td class="card-td">9</td>
                                        <td class="card-td">Frutas Cristalizadas</td>
                                        <td class="card-td">5 kg</td>
                                    </tr>
                                    <tr class="card-tr">
                                        <td class="card-td">15</td>
                                        <td class="card-td">Essência de Baunilha</td>
                                        <td class="card-td">50 ml</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 cards-width">
                            <div class="card background-estragado text-white mb-4">
                            <div class="card-body"><h1 class="card-h1">Itens Estragados</h1></div>
                                <table class="card-table">
                                    <tr class="card-tr">
                                        <th class="card-th">ID</th>
                                        <th class="card-th">Nome</th>
                                        <th class="card-th">Validade</th>
                                    </tr>
                                    <tr class="card-tr">
                                        <td class="card-td">4</td>
                                        <td class="card-td">Leite</td>
                                        <td class="card-td">10/09/2023</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                <div>
                    <div id="layoutAuthentication layoutAuthentication-modified">
                        <div id="layoutAuthentication_content">
                            <main>
                                <div>
                                    <div class="row justify-content-center container-padding">
                                        <div class="col-lg-7 conteiner-forms-width">
                                            <div class="card shadow-lg border-0 rounded-lg container-form-margin">
                                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Adicionar item</h3></div>
                                                <div class="card-body">
                                                    <form>
                                                        <div class="row mb-3">
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control form-add-name" id="inputFirstName" type="text" placeholder="Nome" />
                                                                    <label for="inputFirstName">Nome</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input class="form-control" id="inputLastName" type="number" placeholder="Preço de compra" />
                                                                    <label for="inputLastName">Preço de compra</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control" id="inputFirstName" type="number" placeholder="Quantidade" />
                                                                    <label for="inputFirstName">Quantidade</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input class="form-control" id="inputLastName" type="number" placeholder="Quando devemos avisar que esse item esta acabando?" />
                                                                    <label for="inputLastName">Aviso Quantidade</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control" id="inputPassword" type="date" placeholder="Validade" />
                                                                    <label for="inputPassword">Validade</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control" id="inputPasswordConfirm" type="text" placeholder="Fornecedor" />
                                                                    <label for="inputPasswordConfirm">Fornecedor</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="mt-4 mb-0">
                                                            <div class="d-grid"><a class="btn btn-primary btn-block" asp-page="/Table">Adicionar Item</a></div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-7 conteiner-forms-width">
                                            <div class="card shadow-lg border-0 rounded-lg container-form-margin">
                                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Modificar ou Deletar item por ID</h3></div>
                                                <div class="card-body">
                                                    <form>
                                                        <div class="row mb-3">
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control form-add-name" id="inputFirstName" type="text" placeholder="Nome" />
                                                                    <label for="inputFirstName">Nome</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control form-add-name" id="inputFirstName" type="number" placeholder="ID" />
                                                                    <label for="inputFirstName">ID</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-md-6">
                                                                <label for="exampleFormControlSelect1">Tipo de mudança</label>
                                                                <select class="form-control" id="exampleFormControlSelect1">
                                                                    <option>Entrada de itens</option>
                                                                    <option>Saida de itens</option>
                                                                    <option>Outros</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input class="form-control" id="inputLastName" type="number" placeholder="Preço de compra" />
                                                                    <label for="inputLastName">Preço de compra</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control" id="inputFirstName" type="number" placeholder="Quantidade" />
                                                                    <label for="inputFirstName">Quantidade</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input class="form-control" id="inputLastName" type="number" placeholder="Quando devemos avisar que esse item esta acabando?" />
                                                                    <label for="inputLastName">Aviso Quantidade</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control" id="inputPassword" type="date" placeholder="Validade" />
                                                                    <label for="inputPassword">Validade</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control" id="inputPasswordConfirm" type="text" placeholder="Fornecedor" />
                                                                    <label for="inputPasswordConfirm">Fornecedor</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="">
                                                                <div class="form-floating mb-3 mb-md-0">
                                                                    <input class="form-control" id="inputPassword" type="text" placeholder="Descrição da mudança" />
                                                                    <label for="inputPassword">Descrição da mudança</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="forms-delete-flex">
                                                                <a class="btn btn-primary btn-modified" asp-page="/Table">Modificar Item</a>
                                                                <a class="btn btn-danger btn-modified" asp-page="/Table">Deletar Item</a>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </main>
                        </div>
                    </div>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
                    <script src="js/scripts.js"></script>

                </div>

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Produtos
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Quantidade</th>
                                        <th>Validade</th>
                                        <th>Fornecedor</th>
                                        <th>Preço de compra</th>
                                    </tr>
                                </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Farinha de Trigo</td>
                                    <td>50 kg</td>
                                    <td>20/09/2023</td>
                                    <td>Fornecedor A</td>
                                    <td>R$ 4,50/kg</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Ovos</td>
                                    <td>300 unidades</td>
                                    <td>15/09/2023</td>
                                    <td>Fornecedor B</td>
                                    <td>R$ 0,30/unidade</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Açúcar</td>
                                    <td>25 kg</td>
                                    <td>25/10/2023</td>
                                    <td>Fornecedor C</td>
                                    <td>R$ 3,00/kg</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Leite</td>
                                    <td>20 litros</td>
                                    <td>10/09/2023</td>
                                    <td>Fornecedor A</td>
                                    <td>R$ 2,50/litro</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Fermento</td>
                                    <td>15 pacotes</td>
                                    <td>18/09/2023</td>
                                    <td>Fornecedor D</td>
                                    <td>R$ 1,20/pacote</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Manteiga</td>
                                    <td>10 kg</td>
                                    <td>22/09/2023</td>
                                    <td>Fornecedor B</td>
                                    <td>R$ 7,50/kg</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Creme de Leite</td>
                                    <td>30 latas</td>
                                    <td>30/09/2023</td>
                                    <td>Fornecedor C</td>
                                    <td>R$ 2,80/lat</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Chocolate</td>
                                    <td>40 barras</td>
                                    <td>12/10/2023</td>
                                    <td>Fornecedor E</td>
                                    <td>R$ 6,00/barra</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Frutas Cristalizadas</td>
                                    <td>5 kg</td>
                                    <td>28/09/2023</td>
                                    <td>Fornecedor F</td>
                                    <td>R$ 8,00/kg</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Fermento Biológico</td>
                                    <td>25 pacotes</td>
                                    <td>17/09/2023</td>
                                    <td>Fornecedor D</td>
                                    <td>R$ 1,50/pacote</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Sal</td>
                                    <td>10 kg</td>
                                    <td>30/09/2023</td>
                                    <td>Fornecedor G</td>
                                    <td>R$ 1,00/kg</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Chocolate em Pó</td>
                                    <td>15 kg</td>
                                    <td>10/10/2023</td>
                                    <td>Fornecedor E</td>
                                    <td>R$ 5,50/kg</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Margarina</td>
                                    <td>10 kg</td>
                                    <td>25/09/2023</td>
                                    <td>Fornecedor B</td>
                                    <td>R$ 3,20/kg</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Cacau em Pó</td>
                                    <td>8 kg</td>
                                    <td>15/10/2023</td>
                                    <td>Fornecedor E</td>
                                    <td>R$ 7,80/kg</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>Essência de Baunilha</td>
                                    <td>50 ml</td>
                                    <td>22/09/2023</td>
                                    <td>Fornecedor F</td>
                                    <td>R$ 2,00/ml</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>Creme de Confeiteiro</td>
                                    <td>20 kg</td>
                                    <td>28/09/2023</td>
                                    <td>Fornecedor C</td>
                                    <td>R$ 4,00/kg</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>Amido de Milho</td>
                                    <td>12 kg</td>
                                    <td>20/09/2023</td>
                                    <td>Fornecedor A</td>
                                    <td>R$ 2,20/kg</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>Fubá</td>
                                    <td>18 kg</td>
                                    <td>25/09/2023</td>
                                    <td>Fornecedor A</td>
                                    <td>R$ 1,80/kg</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>Leite Condensado</td>
                                    <td>15 latas</td>
                                    <td>30/10/2023</td>
                                    <td>Fornecedor C</td>
                                    <td>R$ 4,50/lat</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>Geléia de Frutas</td>
                                    <td>25 potes</td>
                                    <td>15/10/2023</td>
                                    <td>Fornecedor B</td>
                                    <td>R$ 4,50/pot</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

@section Footer {
    <div class="footer_background">
        <p class="footer-txt">Copyright © - BakeryStock 2023 - <a class="footer-link" asp-page="/Privacy">Privacy</a> </p>
    </div>
}
