@page
@model BakeryStock.Pages.TableSelectionModel
@{
    ViewData["Title"] = "Seleção de tabela";
}

@section Header {
    <div class="tableSelection-header">
        <div class="header-user-info">
            <p class="user-info-txt">Nome do Usuario: <span class="user-info-span"></span></p>
            <p class="user-info-txt">Nivel de acesso: <span class="user-info-span"></span></p>
        </div>
        <div class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item"><a class="header-nav-link" asp-page="/login">Fazer Login em outra conta</a></li>
                <li class="header-nav-item"><a class="header-nav-link" asp-page="/Index">Voltar para Home</a></li>
            </ul>
        </div>
    </div>
}

<div class="tableSelection-main">
    <div class="container_add-user">
        <div class="">
            <div class="container_add-user-table">
            <h2 class="add_user-txt">Gerenciar usuarios</h2>
            <table class="add-delete_table">
                <tr class="add-delete_row">
                    <th class="add-delete_head">ID</th>
                    <th class="add-delete_head">Nome</th>
                    <th class="add-delete_head">Senha</th>
                    <th class="add-delete_head">Nivel de acesso</th>
                </tr>
                <tr class="add-delete_row">
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                </tr>
                <tr class="add-delete_row">
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                </tr>
                <tr class="add-delete_row">
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                    <td class="add-delete_cell">Usuarios_Teste</td>
                </tr>
            </table>
            <div class="add-delete_btn">
                <p class="add-delete_btn-add">Criar novo usuario</p>
                <p class="add-delete-btn-delete">Deletar usuario</p>
            </div>
            </div>
        </div>

        <div class="forms_add">
            <div class="row justify-content-center row-modified">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg">
                        <div class="card-header"><h3 class="text-center font-weight-light">Criação de usuario</h3></div>
                        <div class="card-body">
                            <form>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputEmail" type="text" placeholder="Nome de usuario" />
                                    <label for="inputEmail">Nome de usuario</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputPassword" type="password" placeholder="Senha" />
                                    <label for="inputPassword">Senha</label>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Selecione o nivel de acesso</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <p>Adicionar Usuario</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form class="forms_delete">
            <div class="form-floating mb-3">
                <input class="form-control" id="inputID" type="text" placeholder="ID de usuario" />
                <label for="inputID">Nome de usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputEmail" type="text" placeholder="Nome de usuario" />
                <label for="inputEmail">Nome de usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="inputPassword" type="password" placeholder="Senha" />
                <label for="inputPassword">Senha</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <p>Deletar Usuario</p>
            </div>
        </form>
        </div>
    </div>
    <div>
        <h2>Gerenciar tabelas</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ultima atualização</th>
            </tr>
            <tr>
                <td>Tabela_teste</td>
                <td>Tabela_teste</td>
                <td>Tabela_teste</td>
            </tr>
        </table>
        <div>
            <p>Criar nova tabela</p>
            <p>Deletar tabela</p>
        </div>
    </div>
</div>

@section Footer {
    <div class="footer_background">
        <p class="footer-txt">Copyright © - BakeryStock 2023 - <a class="footer-link" asp-page="/Privacy">Privacy</a> </p>
    </div>
}
