@page
@model BakeryStock.Pages.TableSelectionModel
@{
    ViewData["Title"] = "Seleção de tabela";
}

@section Header {
    <div class="tableSelection-header">
        <div class="header-user-info">
            <p class="user-info-txt">Nome do Usuario: </p>
            <p class="user-info-txt">Nivel de acesso: </p>
        </div>
        <div class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item"><a class="header-nav-link" href="">Fazer Login em outra conta</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="">Voltar para Home</a></li>
            </ul>
        </div>
    </div>
}

<div>

</div>

@section Footer {
    <div class="footer_background">
        <p class="footer-txt">Copyright © - BakeryStock 2023 - <a class="footer-link" href="../Pages/Privacy.cshtml">Privacy</a> </p>
    </div>
}
