.header_background {
    height: 10vh;
    width: 100vw;

    background-color: #F6BBA7;
}

.main_background {
    width: 100vw;

    background-color: #001F3D;
}

.footer_background {
    height: 10vh;
    width: 100vw;
    background-color: #26619C;
}
