.table_background {
    background: #26619C;
    padding: 2em 0;
}

.background-acabando {
    background: #FFCE6B;
    color: #000000;
}

.background-estragado {
    background: #FFCE6B;
    color: #000000;
}

.cards-space {
    justify-content: space-evenly;
}

.cards-width {
    width: 25%;
}

.card-h1 {
    font-size: 1.5em;

    align-self: center;
    text-align: center;

    color: #000000;

}

.card-table {
    border: 1px solid #000000;
    border-collapse: collapse;
}

.card-tr {
    border: 1px solid #000000;
    border-radius: 0.5em;
}

.card-tr:nth-child(even) {
    background-color: #FFE2A5;
    color: #000000;
}

.card-tr:nth-child(odd) {
    background-color: #FFE2A5;
    color: #000000;
}

.card-th {
    border: 1px solid #000000;
    font-weight: 700;
    text-align: center;

    background: #FFCE6B;
}

.card-td {
    border: 1px solid #000000;
    text-align: center;
    padding: 0.5em;
}

.layoutAuthentication-modified {
    height: auto;
    width: auto;
}

.form-display-name {
    display: flex;
    justify-content: center;

    margin-bottom: 1em;
}

.form-delete-id {
    width: 100%;
}

.container-padding {
    display: flex;
    justify-content: space-evenly;

    padding-bottom: 1em;
}

.conteiner-forms-width {
    width: 40%;
}

.container-form-margin {
    margin: 0;
    padding: 0;
}

.btn-modified {
    justify-self: center;
    align-self: center;
}

.forms-delete-flex {
    display: flex;
    justify-content: space-evenly;
}
