html {
    font-family: 'Poppins', sans-serif;
}

.tableSelection-header {
    display: flex;
    justify-content: space-between;

    padding: 1.25em 2em;

    background-color: #FFE2A5;
}

.header-user-info {
    border: 2px solid #000000;
    border-radius: 1em;

    padding: 0.5em 0.75em;

    background-color: #FFCE6B;

    display: flex;

    flex-direction: column;
    justify-items: center;
}

.user-info-txt {
    color: #000000;

    margin: 0;
    padding: 0;
}

.user-info-span {

}

.header-nav {
    align-self: center;
}

.header-nav-list {
    display: flex;

    justify-content: center;

    margin: 0;
}

.header-nav-item {
    padding: 0.75em;
}

.header-nav-link {
    font-size: 1.2em;
    font-weight: 700;

    margin-bottom: 0;
    padding: 0.2em 1em;

    color: #000000;
    background-color: #FFCE6B;
    border: 1px solid #ffffff;
    border-radius: 0.2em;

    text-decoration: none;
}

.header-nav-link:hover {
    color: #000000;
}

.tableSelection-main {
    background-color: #26619C;
}

.container_add-user {
    display: flex;
}

.container_add-user-table {
    display: flex;
    flex-direction: column;

    padding: 2.5em;
}

.add_user-txt {
    font-size: 1.5em;
}

.add-delete_table {
    border: 1px solid #000000;
    border-collapse: collapse;
}

.add-delete_row {
    border: 1px solid #000000;
}

.add-delete_head {
    border: 1px solid #000000;
    text-align: center;
}

.add-delete_cell {
    border: 1px solid #000000;
    text-align: center;
    padding: 0.5em;
}

.add-delete_btn {
    display: flex;

    justify-content: space-evenly;
}

.add-delete_btn-add {

}

.add-delete-btn-delete {

}

.forms_add-delete {
    display: none;
}
