.table_background {
    background: #26619C;
    padding: 2em 0;
}

.cards-space {
    justify-content: space-evenly;
}

.cards-width {
    width: 25%;
}

.card-h1 {
    font-size: 1.5em;

    align-self: center;
    text-align: center;
}

.card-table {
    border: 1px solid #000000;
    border-collapse: collapse;
}

.card-tr {
    border: 1px solid #000000;
}

.card-tr:nth-child(even) {

}

.card-tr:nth-child(odd) {

}

.card-th {
    border: 1px solid #000000;
    font-weight: 700;
    text-align: center;
}

.card-td {
    border: 1px solid #000000;
    text-align: center;
    padding: 0.5em;
}

.layoutAuthentication-modified {
    height: auto;
    width: auto;
}

.container-modified {
    width: 70%;
}

.form-display-name {
    display: flex;
    justify-content: center;

    margin-bottom: 1em;
}

.form-add-name {
    width: 80%;
}
